In [1]:
import pandas as pd
from datetime import datetime, timedelta

In [2]:
df = pd.read_csv('alarm_data.csv', delimiter=";")

In [3]:
df

,id,region_id,region_city,all_region,start,end
0,52432,12,Львівська обл.,1,2022-02-24 07:43:17,2022-02-24 09:52:28
1,53292,23,Чернігівська обл.,1,2022-02-24 14:00:43,2022-02-24 17:11:43
2,52080,3,Вінницька обл.,1,2022-02-24 15:40:42,2022-02-24 16:10:42
3,52857,19,Харківська обл.,1,2022-02-24 20:11:47,2022-02-24 20:59:47
4,52700,18,Тернопільська обл.,1,2022-02-25 01:59:36,2022-02-25 09:00:19
...,...,...,...,...,...,...
55783,158642,14,Одеська обл.,1,2025-03-01 21:49:30,2025-03-01 23:24:45
55784,158635,9,Київська обл.,1,2025-03-01 22:20:51,2025-03-02 01:38:57
55785,158636,9,Київ,0,2025-03-01 22:52:10,2025-03-02 00:55:18
55786,158617,3,Вінницька обл.,1,2025-03-01 23:26:07,2025-03-02 02:44:07
55787,158629,6,Житомирська обл.,1,2025-03-01 23:26:07,2025-03-02 02:43:26

In [4]:
df.sort_values(by=['region_id', 'start'])

,id,region_id,region_city,all_region,start,end
127,51878,1,Чернівецька обл.,1,2022-02-27 23:24:03,2022-02-28 00:51:03
185,88,1,Чернівецька обл.,1,2022-02-28 21:31:03,2022-02-28 21:33:02
191,95,1,Чернівецька обл.,1,2022-02-28 23:18:55,2022-02-28 23:59:58
279,51877,1,Чернівецька обл.,1,2022-03-02 10:29:49,2022-03-02 10:58:49
314,51879,1,Чернівецька обл.,1,2022-03-02 20:33:49,2022-03-02 21:30:49
...,...,...,...,...,...,...
8984,111538,25,Крим,1,2022-08-19 20:30:00,2022-08-20 00:02:00
9085,111539,25,Крим,1,2022-08-20 22:30:00,2022-08-21 02:20:00
9134,111540,25,Крим,1,2022-08-21 21:30:00,2022-08-22 00:43:00
9186,111541,25,Крим,1,2022-08-22 18:20:00,2022-08-22 20:08:00
11660,111542,25,Крим,1,2022-10-10 20:35:00,2022-10-11 00:14:00

In [5]:
# eliminating duplication in the keys and skipping the region with low number of records (Crimea)

df.groupby(['region_id','region_city']).size().reset_index()

    region_id             region_city     0
0           1        Чернівецька обл.   665
1           2          Волинська обл.   757
2           3          Вінницька обл.  1373
3           4   Дніпропетровська обл.  4966
4           5           Донецька обл.  5886
5           6        Житомирська обл.  1334
6           7       Закарпатська обл.   581
7           8         Запорізька обл.  5494
8           9                    Київ  1552
9           9           Київська обл.  1654
10         10     Кіровоградська обл.  2913
11         12          Львівська обл.   672
12         13       Миколаївська обл.  3123
13         14            Одеська обл.  1937
14         15         Полтавська обл.  3499
15         16         Рівненська обл.   833
16         17            Сумська обл.  3251
17         18      Тернопільська обл.   771
18         19         Харківська обл.  5652
19         20         Херсонська обл.  3031
20         21        Хмельницька обл.   968
21         22          Черкаська обл.  2119
22         23       Чернігівська обл.  2074
23         24  Івано-Франківська обл.   676
24         25                    Крим     7

In [6]:
df.loc[df["region_city"] == "Київ", "region_id"] = 25

In [7]:
df = df[df['region_city'] != 'Крим']

In [8]:
df.groupby(['region_id','region_city']).size().reset_index()

    region_id             region_city     0
0           1        Чернівецька обл.   665
1           2          Волинська обл.   757
2           3          Вінницька обл.  1373
3           4   Дніпропетровська обл.  4966
4           5           Донецька обл.  5886
5           6        Житомирська обл.  1334
6           7       Закарпатська обл.   581
7           8         Запорізька обл.  5494
8           9           Київська обл.  1654
9          10     Кіровоградська обл.  2913
10         12          Львівська обл.   672
11         13       Миколаївська обл.  3123
12         14            Одеська обл.  1937
13         15         Полтавська обл.  3499
14         16         Рівненська обл.   833
15         17            Сумська обл.  3251
16         18      Тернопільська обл.   771
17         19         Харківська обл.  5652
18         20         Херсонська обл.  3031
19         21        Хмельницька обл.   968
20         22          Черкаська обл.  2119
21         23       Чернігівська обл.  2074
22         24  Івано-Франківська обл.   676
23         25                    Київ  1552

In [9]:
# checking for duplicates
df.duplicated(subset=['region_city', 'start']).sum()

np.int64(1)

In [10]:
# probably not a duplicate, but a distinction in the region/city alarm end, which in this dataset is displayed like this
df[df.duplicated(subset=['region_city', 'start'], keep=False)]

,id,region_id,region_city,all_region,start,end
14156,68879,19,Харківська обл.,1,2022-12-18 12:07:13,2022-12-18 12:37:13
14157,68880,19,Харківська обл.,1,2022-12-18 12:07:13,2022-12-18 12:36:33

In [11]:
# checking for missing values
df.isnull().sum()

id             0
region_id      0
region_city    0
all_region     0
start          0
end            0
dtype: int64

In [12]:
# checking for invalid times
invalid_times = (df['end'] < df['start']).sum()
invalid_times

np.int64(1)

In [13]:
df[(df['end'] < df['start'])]

,id,region_id,region_city,all_region,start,end
47970,150000,17,Сумська обл.,1,2024-10-01 20:53:04,2024-10-01 07:51:22

In [14]:
df = df[df['end'] >= df['start']]

In [15]:
invalid_times = (df['end'] < df['start']).sum()
invalid_times

np.int64(0)

In [16]:
df['start'] = pd.to_datetime(df['start'])
df['end'] = pd.to_datetime(df['end'])

In [17]:
df = df.drop(columns='id')

In [18]:
df = df.rename(columns={"region_id": "region_id_old"})

In [19]:
def prepare_alarms_features(df, region_mapping, col_mapping):
    df = df.reset_index()

    records = []

    for _, row in df.iterrows():
        region_value = row[col_mapping['region']]
        region_id = region_mapping.get(region_value)
        if region_id is None:
            print(f"Skipping unknown location: {region_value}")
            continue

        row_dict = row.to_dict()
        for key in col_mapping.values():
            row_dict.pop(key, None)

        record = {
            'region_id': region_id,
        }
        record.update(row_dict)
        records.append(record)

    expanded_df = pd.DataFrame(records)
    return expanded_df

In [20]:
alarms_region_mapping = {
    'Київ': 1,
    'Київська обл.': 2,
    'Вінницька обл.': 3,
    'Волинська обл.': 4,
    'Дніпропетровська обл.': 5,
    'Донецька обл.': 6,
    'Житомирська обл.': 7,
    'Закарпатська обл.': 8,
    'Запорізька обл.': 9,
    'Івано-Франківська обл.': 10,
    'Кіровоградська обл.': 11,
    'Луганська обл.': 12, # 12 is not present
    'Львівська обл.': 13,
    'Миколаївська обл.': 14,
    'Одеська обл.': 15,
    'Полтавська обл.': 16,
    'Рівненська обл.': 17,
    'Сумська обл.': 18,
    'Тернопільська обл.': 19,
    'Харківська обл.': 20,
    'Херсонська обл.': 21,
    'Хмельницька обл.': 22,
    'Черкаська обл.': 23,
    'Чернівецька обл.': 24,
    'Чернігівська обл.': 25,
}

alarms_col_mapping = {
    'region': 'region_city',
}

In [21]:
df = prepare_alarms_features(df, alarms_region_mapping, alarms_col_mapping)

In [22]:
df['start'] = pd.to_datetime(df['start'])
df['end'] = pd.to_datetime(df['end'])

In [23]:
df.sort_values(by=['region_id', 'start'], inplace=True)
alarms_df = df[['region_id', 'start', 'end']].copy()

In [24]:
min_date = alarms_df['start'].min().normalize()
max_date = alarms_df['end'].max().normalize() - timedelta(days=1)

feature_dates = pd.date_range(start=min_date,
                              end=max_date,
                              freq='D')
results_daily = []
results_hourly = []

grouped_alarms = alarms_df.groupby('region_id')

In [25]:
for region_id, region_alarms in grouped_alarms:
    print(f"Processing Region ID: {region_id}")
    region_alarms = region_alarms.sort_values(by='start')

    # daily processing
    for current_day in feature_dates:
        start_of_day = current_day
        start_of_yesterday = start_of_day - pd.Timedelta(days=1)
        start_of_day_before_yesterday = start_of_day - pd.Timedelta(days=2)
        end_of_yesterday = start_of_day - pd.Timedelta(microseconds=1)  # very end of previous day
        start_of_7_days_ago = start_of_day - pd.Timedelta(days=7)

        # time_since_last_alarm_end_minutes_at_start_of_day
        alarms_ended_before_today = region_alarms[region_alarms['end'] < start_of_day]
        if not alarms_ended_before_today.empty:
            last_alarm_end_time = alarms_ended_before_today['end'].max()
            time_since_last_end = (start_of_day - last_alarm_end_time).total_seconds() / 60
        else:
            time_since_last_end = pd.NA

        # total_alarm_minutes_yesterday
        yesterday_overlap = region_alarms[
            (region_alarms['start'] < start_of_day) & (region_alarms['end'] > start_of_yesterday)
        ]
        total_minutes_yesterday = 0
        for _, alarm in yesterday_overlap.iterrows():
            intersection_start = max(alarm['start'], start_of_yesterday)
            intersection_end = min(alarm['end'], start_of_day)
            duration_yesterday = (intersection_end - intersection_start).total_seconds() / 60
            if duration_yesterday > 0:
                total_minutes_yesterday += duration_yesterday

        # alarms_started_yesterday
        alarms_started_yesterday_count = region_alarms[
            (region_alarms['start'] >= start_of_yesterday) & (region_alarms['start'] < start_of_day)
        ].shape[0]

        # was_alarm_active_end_of_yesterday
        was_active_end_of_yesterday = region_alarms[
            (region_alarms['start'] <= end_of_yesterday) & (region_alarms['end'] > end_of_yesterday)
        ].shape[0] > 0

        # alarms_started_trend
        alarms_started_day_before_yesterday_count = region_alarms[
            (region_alarms['start'] >= start_of_day_before_yesterday) & (region_alarms['start'] < start_of_yesterday)
        ].shape[0]

        alarms_started_trend = alarms_started_yesterday_count - alarms_started_day_before_yesterday_count

        # is_alarm_active_lag_7d
        is_active_start_7d_ago = region_alarms[
            (region_alarms['start'] <= start_of_7_days_ago) & (region_alarms['end'] > start_of_7_days_ago)
        ].shape[0] > 0

        # avg_daily_alarm_minutes_last_7_days
        total_minutes_last_7d = 0
        days_to_check = 7
        for i in range(1, days_to_check + 1):
            day_start = start_of_day - pd.Timedelta(days=i)
            day_end = day_start + pd.Timedelta(days=1)
            day_overlap = region_alarms[
                (region_alarms['start'] < day_end) & (region_alarms['end'] > day_start)
            ]
            minutes_this_day = 0
            for _, alarm in day_overlap.iterrows():
                intersection_start = max(alarm['start'], day_start)
                intersection_end = min(alarm['end'], day_end)
                duration = (intersection_end - intersection_start).total_seconds() / 60
                if duration > 0:
                    minutes_this_day += duration
            total_minutes_last_7d += minutes_this_day
        avg_minutes_last_7d = total_minutes_last_7d / days_to_check if days_to_check > 0 else 0

        daily_features = {
            'region_id': region_id,
            'date': start_of_day.date(),
            'time_since_last_alarm_end_minutes_at_start_of_day': time_since_last_end,
            'total_alarm_minutes_yesterday': total_minutes_yesterday,
            'alarms_started_yesterday': alarms_started_yesterday_count,
            'alarms_started_trend': alarms_started_trend,
            'was_alarm_active_end_of_yesterday': was_active_end_of_yesterday,
            'is_alarm_active_lag_7d': is_active_start_7d_ago,
            'avg_daily_alarm_minutes_last_7_days': avg_minutes_last_7d,
        }
        results_daily.append(daily_features.copy())

        # hourly processing
        for hour in range(24):
            hour_timestamp = start_of_day + pd.Timedelta(hours=hour)
            hour_end_timestamp = hour_timestamp + pd.Timedelta(hours=1)
            is_active = int(region_alarms[
                (region_alarms['start'] < hour_end_timestamp) &
                (region_alarms['end'] > hour_timestamp)
            ].shape[0] > 0)

            hourly_record = daily_features.copy()
            hourly_record.update({
                'hour_indicator': hour_timestamp.time(),
                'is_alarm_active': is_active
            })
            results_hourly.append(hourly_record)


daily_features_df = pd.DataFrame(results_daily)
hourly_features_df = pd.DataFrame(results_hourly)

Processing Region ID: 1
Processing Region ID: 2
Processing Region ID: 3
Processing Region ID: 4
Processing Region ID: 5
Processing Region ID: 6
Processing Region ID: 7
Processing Region ID: 8
Processing Region ID: 9
Processing Region ID: 10
Processing Region ID: 11
Processing Region ID: 13
Processing Region ID: 14
Processing Region ID: 15
Processing Region ID: 16
Processing Region ID: 17
Processing Region ID: 18
Processing Region ID: 19
Processing Region ID: 20
Processing Region ID: 21
Processing Region ID: 22
Processing Region ID: 23
Processing Region ID: 24
Processing Region ID: 25

In [26]:
daily_features_df

,region_id,date,time_since_last_alarm_end_minutes_at_start_of_day,total_alarm_minutes_yesterday,alarms_started_yesterday,alarms_started_trend,was_alarm_active_end_of_yesterday,is_alarm_active_lag_7d,avg_daily_alarm_minutes_last_7_days
0,1,2022-02-24,<NA>,0.000000,0,0,False,False,0.000000
1,1,2022-02-25,<NA>,0.000000,0,0,False,False,0.000000
2,1,2022-02-26,970.933333,30.000000,1,1,False,False,4.285714
3,1,2022-02-27,32.933333,143.933333,5,4,True,False,24.847619
4,1,2022-02-28,162.75,160.100000,7,2,True,False,47.719048
...,...,...,...,...,...,...,...,...,...
26443,25,2025-02-25,449.566667,498.400000,4,0,True,True,531.992857
26444,25,2025-02-26,951.15,741.433333,1,-3,True,True,571.459524
26445,25,2025-02-27,325.116667,501.666667,4,3,True,True,565.752381
26446,25,2025-02-28,1166.4,459.500000,1,-3,True,True,536.092857
26447,25,2025-03-01,357.616667,363.866667,2,1,True,True,511.657143

In [27]:
hourly_features_df

,region_id,date,time_since_last_alarm_end_minutes_at_start_of_day,total_alarm_minutes_yesterday,alarms_started_yesterday,alarms_started_trend,was_alarm_active_end_of_yesterday,is_alarm_active_lag_7d,avg_daily_alarm_minutes_last_7_days,hour_indicator,is_alarm_active
0,1,2022-02-24,<NA>,0.000000,0,0,False,False,0.000000,00:00:00,0
1,1,2022-02-24,<NA>,0.000000,0,0,False,False,0.000000,01:00:00,0
2,1,2022-02-24,<NA>,0.000000,0,0,False,False,0.000000,02:00:00,0
3,1,2022-02-24,<NA>,0.000000,0,0,False,False,0.000000,03:00:00,0
4,1,2022-02-24,<NA>,0.000000,0,0,False,False,0.000000,04:00:00,0
...,...,...,...,...,...,...,...,...,...,...,...
634747,25,2025-03-01,357.616667,363.866667,2,1,True,True,511.657143,19:00:00,0
634748,25,2025-03-01,357.616667,363.866667,2,1,True,True,511.657143,20:00:00,0
634749,25,2025-03-01,357.616667,363.866667,2,1,True,True,511.657143,21:00:00,1
634750,25,2025-03-01,357.616667,363.866667,2,1,True,True,511.657143,22:00:00,1
634751,25,2025-03-01,357.616667,363.866667,2,1,True,True,511.657143,23:00:00,1

In [28]:
hourly_features_df['is_alarm_active'].value_counts()

is_alarm_active
0    517153
1    117599
Name: count, dtype: int64

In [30]:
hourly_features_df.isna().sum()

region_id                                               0
date                                                    0
time_since_last_alarm_end_minutes_at_start_of_day    2400
total_alarm_minutes_yesterday                           0
alarms_started_yesterday                                0
alarms_started_trend                                    0
was_alarm_active_end_of_yesterday                       0
is_alarm_active_lag_7d                                  0
avg_daily_alarm_minutes_last_7_days                     0
hour_indicator                                          0
is_alarm_active                                         0
dtype: int64

In [31]:
max_observed_3x = hourly_features_df['time_since_last_alarm_end_minutes_at_start_of_day'].max() * 3

In [32]:
max_observed_3x

509629.35000000003

In [ ]:
hourly_features_df = hourly_features_df.fillna(max_observed_3x)

In [34]:
hourly_features_df.isna().sum()

region_id                                            0
date                                                 0
time_since_last_alarm_end_minutes_at_start_of_day    0
total_alarm_minutes_yesterday                        0
alarms_started_yesterday                             0
alarms_started_trend                                 0
was_alarm_active_end_of_yesterday                    0
is_alarm_active_lag_7d                               0
avg_daily_alarm_minutes_last_7_days                  0
hour_indicator                                       0
is_alarm_active                                      0
dtype: int64

In [35]:
hourly_features_df['date'] = pd.to_datetime(hourly_features_df['date'])
hourly_features_df['datetime'] = hourly_features_df['date'].dt.normalize() + pd.to_timedelta(
    hourly_features_df['hour_indicator'].astype(str)
)

In [36]:
hourly_features_df = hourly_features_df.drop(columns=['date', 'hour_indicator'])

In [37]:
hourly_features_df

,region_id,time_since_last_alarm_end_minutes_at_start_of_day,total_alarm_minutes_yesterday,alarms_started_yesterday,alarms_started_trend,was_alarm_active_end_of_yesterday,is_alarm_active_lag_7d,avg_daily_alarm_minutes_last_7_days,is_alarm_active,datetime
0,1,509629.350000,0.000000,0,0,False,False,0.000000,0,2022-02-24 00:00:00
1,1,509629.350000,0.000000,0,0,False,False,0.000000,0,2022-02-24 01:00:00
2,1,509629.350000,0.000000,0,0,False,False,0.000000,0,2022-02-24 02:00:00
3,1,509629.350000,0.000000,0,0,False,False,0.000000,0,2022-02-24 03:00:00
4,1,509629.350000,0.000000,0,0,False,False,0.000000,0,2022-02-24 04:00:00
...,...,...,...,...,...,...,...,...,...,...
634747,25,357.616667,363.866667,2,1,True,True,511.657143,0,2025-03-01 19:00:00
634748,25,357.616667,363.866667,2,1,True,True,511.657143,0,2025-03-01 20:00:00
634749,25,357.616667,363.866667,2,1,True,True,511.657143,1,2025-03-01 21:00:00
634750,25,357.616667,363.866667,2,1,True,True,511.657143,1,2025-03-01 22:00:00
634751,25,357.616667,363.866667,2,1,True,True,511.657143,1,2025-03-01 23:00:00

In [38]:
hourly_features_df.to_csv("alarm_features_refined.csv", index=False)